{% extends 'base.html.twig' %}


{% block body %}
           
<ul>
{% for episode in episodes %}
<li> {{ episode.title }} </li>
<a href="{{ path("program_episode_show", { slug: program.slug, seasonId: season.id, episodeId: episode.id }) }}">Go to episode</a>

{% endfor %}
</ul>

{% endblock %}