@import "~bootstrap/scss/bootstrap";

:root {
    --colorOne: #141414;
    --colorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;
    --tileBorderRadius: 4px;
    --fontOne: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --fontTwo: 'Holtwood One SC', serif;
}

body {
    font-family: var(--fontOne);
    color: var(--colorWhite);
    background-color: var(--colorOne);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--fontTwo);
    }

    h2 {
        font-size: 20px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }

    ul>li {
        text-decoration: none;
        list-style-type: none;
        border-right: 0px;
        text-align: center;
        font-size: 30px;

    }

    a {
        color: inherit;
        text-decoration: none;
        transition: all .5s;
        color: rgb(180, 69, 69);
    }

    a:hover {
        color: rgb(246, 31, 31);
        transition: all .5s;
    }

    p {
        margin-top: 5px;
        padding-top: 15px;
    }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}