{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
<header>
{# <nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand text-primary" href="/">Home</a>
    <a class="navbar-brand" href="/program/">Program</a>
    <a class="navbar-brand" href="/category/">Category</a>
  </div>
</nav> #}
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/program/">Tv Shows</a>
  <a href="/category/">Categories</a>
  <a href="javascript:void(0);" class="icon">
    <i class="fa fa-bars"></i>
  </a>
</div>
</header>
{% endblock %}