{% block navbar %}
<header>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="/">Home</a>
    <a class="navbar-brand" href="/program/">Program</a>
    <a class="navbar-brand" href="/program_show/">Show</a>
    <a href="{{ path('program_show', {id: 1}) }}">Afficher la page 1</a>
  </div>
</nav>
</header>
{% endblock %}